.LogoCarousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .LogoCarousel button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
  }
  
  .LogoCarousel img {
    /* width: 150px;
    height: 150px; */
    object-fit: contain;
  }
  